In [30]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, Imputer

In [31]:
from sklearn.datasets import load_boston
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR'])

In [32]:
boston.feature_names            #features_names of the dataset

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [33]:
bos = pd.DataFrame(boston.data)
bos.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [34]:
bos.columns = boston.feature_names
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [35]:
#adding target value to bos dataframe
y = pd.DataFrame(boston.target)
y.columns = ['price']
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

## 1st method

In [36]:
x_train, x_test, y_train, y_test = train_test_split(boston.data,
                                                    boston.target,
                                                    test_size=0.25,
                                                    random_state=42)

lm = LinearRegression()
lm.fit(x_train, y_train)
prediction = lm.predict(x_test)

print(lm.intercept_)
print(lm.coef_)

29.88334562715565
[-1.27824912e-01  2.95208977e-02  4.92643105e-02  2.77594439e+00
 -1.62801962e+01  4.36089596e+00 -9.19111559e-03 -1.40172019e+00
  2.57458956e-01 -9.94705777e-03 -9.24266403e-01  1.33164215e-02
 -5.18565634e-01]

In [37]:
lm.score(x_test, y_test)

0.6839557243179305

so the accuracy of the model is 68.39%

## 2nd method

In [38]:
x_train, x_test, y_train, y_test = train_test_split(boston.data,
                                                    boston.target,
                                                    test_size=0.25,
                                                    random_state=42)

pipeline = make_pipeline(Imputer(),                #preprocessing(Imputing)
                         StandardScaler(),         #preprocessing(scalling)
                         LinearRegression())       #estimator(LinearRegression)

pipeline.fit(x_train, y_train)
print(pipeline.score(x_test, y_test))

0.6839557243179339